



  <br />
  <div class="col-10 offset-1">
    <%= will_paginate @places %>
  </div>
  <br />

  <% @places.each do |place| %>
    <div class="booyah-box col-10 offset-1">
      <% place.photos.each do |photo| %>
        <% if photo.picture.url.present? %>
            <p><%= image_tag photo.picture.url, :size => "150x150", class: 'img.fluid' %></p> 
          <br/>
        <% end %>
      <% end %>

      <h1><%= link_to place.name, place_path(place) %></h1><br />
      <i><%= place.address %></i><br /><br />
      <p><%= place.description %></p><br />
      
      <% if place.user.present? %>  
        <small><%=place.user.email %></small>
      <% end %>

      <% if place.comments.present? %>
        <div class="col-12">
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <div class="clear"></div>
              <small><%= place.comments.last.user.email %></small>
            </blockquote>
        </div>
      <% end %>
    </div>

  <% end %>
  